@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply dark:bg-slate-800 text-black bg-white dark:text-black;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-bold;
	}

	h1 {
		@apply text-4xl sm:text-5xl md:text-6xl;
	}
	h2 {
		@apply text-3xl font-bold  mb-10;
	}

	li {
		@apply cursor-pointer;
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	* {
		box-sizing: border-box;
	}
}

* {
	color: var(--custom-color);
	font-family: fangsong;
	box-sizing: border-box;
}

html,
body,
#__next {
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
}

/* Grid */

.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.row {
	position: relative;
	width: 100%;
}
.row [class^="col"] {
	float: left;
	margin: 0.5rem 2%;
	min-height: 0.125rem;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
	width: 96%;
}
.col-1-sm {
	width: 4.33%;
}
.col-2-sm {
	width: 12.66%;
}
.col-3-sm {
	width: 21%;
}
.col-4-sm {
	width: 29.33%;
}
.col-5-sm {
	width: 37.66%;
}
.col-6-sm {
	width: 46%;
}
.col-7-sm {
	width: 54.33%;
}
.col-8-sm {
	width: 62.66%;
}
.col-9-sm {
	width: 71%;
}
.col-10-sm {
	width: 79.33%;
}
.col-11-sm {
	width: 87.66%;
}
.col-12-sm {
	width: 96%;
}
.row::after {
	content: "";
	display: table;
	clear: both;
}
.hidden-sm {
	display: none;
}

@media only screen and (min-width: 33.75em) {
	/* 540px */
	.container {
		width: 80%;
	}
}

@media only screen and (min-width: 45em) {
	/* 720px */
	.col-1 {
		width: 4.33%;
	}
	.col-2 {
		width: 12.66%;
	}
	.col-3 {
		width: 21%;
	}
	.col-4 {
		width: 29.33%;
	}
	.col-5 {
		width: 37.66%;
	}
	.col-6 {
		width: 46%;
	}
	.col-7 {
		width: 54.33%;
	}
	.col-8 {
		width: 62.66%;
	}
	.col-9 {
		width: 71%;
	}
	.col-10 {
		width: 79.33%;
	}
	.col-11 {
		width: 87.66%;
	}
	.col-12 {
		width: 96%;
	}
	.hidden-sm {
		display: block;
	}
}

@media only screen and (min-width: 60em) {
	/* 960px */
	.container {
		width: 75%;
		max-width: 60rem;
	}
}

/* Forms */

label {
	display: block;
	margin: 5px 0;
	color: var(--custom-color-secondary);
	font-size: 0.8rem;
	text-transform: uppercase;
}

input {
	width: 100%;
	border-radius: 5px;
	border: var(--custom-border);
	padding: 8px;
	font-size: 0.9rem;
	background-color: var(--custom-bg-color);
	color: var(--custom-color);
}

input[disabled] {
	color: var(--custom-color-secondary);
}

/* Utils */

.block {
	display: block;
	width: 100%;
}
.inline-block {
	display: inline-block;
	width: 100%;
}
.flex {
	display: flex;
}
.flex.column {
	flex-direction: column;
}
.flex.row {
	flex-direction: row;
}
.flex.flex-1 {
	flex: 1 1 0;
}
.flex-end {
	justify-content: flex-end;
}
.flex-center {
	justify-content: center;
}
.items-center {
	align-items: center;
}
.space-between {
	justify-content: space-between;
}
.text-sm {
	font-size: 0.8rem;
	font-weight: 300;
}
.text-right {
	text-align: right;
}
.font-light {
	font-weight: 300;
}
.opacity-half {
	opacity: 50%;
}

/* Button */

button,
.button {
	color: var(--custom-color);
	border: var(--custom-border);
	background-color: var(--custom-bg-color);
	display: inline-block;
	text-align: center;
	border-radius: var(--custom-border-radius);
	padding: 0.5rem 1rem;
	cursor: pointer;
	text-align: center;
	font-size: 0.9rem;
	text-transform: uppercase;
}

button.primary,
.button.primary {
	background-color: var(--custom-color-brand);
	border: 1px solid var(--custom-color-brand);
}

/* Widgets */

.card {
	width: 100%;
	display: block;
	border: var(--custom-border);
	border-radius: var(--custom-border-radius);
	padding: var(--custom-spacing);
}

.avatar {
	border-radius: var(--custom-border-radius);
	overflow: hidden;
	max-width: 100%;
}
.avatar.image {
	object-fit: cover;
}
.avatar.no-image {
	background-color: #333;
	border: 1px solid rgb(200, 200, 200);
	border-radius: 5px;
}

.footer {
	position: absolute;
	max-width: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-flow: row;
	border-top: var(--custom-border);
	background-color: var(--custom-bg-color);
}
.footer div {
	padding: var(--custom-spacing);
	display: flex;
	align-items: center;
	width: 100%;
}
.footer div > img {
	height: 20px;
	margin-left: 10px;
}
.footer > div:first-child {
	display: none;
}
.footer > div:nth-child(2) {
	justify-content: left;
}

@media only screen and (min-width: 60em) {
	/* 960px */
	.footer > div:first-child {
		display: flex;
	}
	.footer > div:nth-child(2) {
		justify-content: center;
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.mainHeader {
	width: 100%;
	font-size: 1.3rem;
	margin-bottom: 20px;
}

.avatarPlaceholder {
	border: var(--custom-border);
	border-radius: var(--custom-border-radius);
	width: 35px;
	height: 35px;
	background-color: rgba(255, 255, 255, 0.2);
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Auth */

.auth-widget {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.auth-widget > .button {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	background-color: #444444;
	text-transform: none !important;
	transition: all 0.2s ease;
}

.auth-widget .button:hover {
	background-color: #2a2a2a;
}

.auth-widget .button > .loader,
.account .button > .loader {
	width: 17px;
	animation: spin 1s linear infinite;
	filter: invert(1);
}

/* Account */

.account {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.account > * > .avatarField {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}

.account > * > .avatarField > .avatarContainer {
	margin-right: 20px;
}

/* Profile Card */

.profileCard {
	border-radius: 5px;
	display: flex;
	border: var(--custom-border);
	background-color: var(--custom-panel-color);
	padding: 20px 20px;
	margin-bottom: 20px;
}

.profileCard:last-child {
	margin-bottom: 0px;
}

.profileCard > .userInfo {
	margin-left: 20px;
	font-weight: 300;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.profileCard > .userInfo > p {
	margin: 0;
}

.profileCard > .userInfo > .username {
	font-size: 1.3rem;
	font-weight: 500;
	margin-bottom: 5px;
}

.profileCard > .userInfo > .website {
	font-size: 0.9rem;
	color: var(--custom-color-brand);
	margin-bottom: 10px;
	text-decoration: none;
}

.flex-fill {
	flex: 1 1 auto;
}

.pt10 {
	padding-top: 10px;
}
.pt20 {
	padding-top: 10px;
}
.pt30 {
	padding-top: 10px;
}
.pb10 {
	padding-bottom: 10px;
}
.pb20 {
	padding-bottom: 10px;
}
.pb30 {
	padding-bottom: 10px;
}
.pl10 {
	padding-left: 10px;
}
.pl20 {
	padding-left: 10px;
}
.pl30 {
	padding-left: 10px;
}
.pr10 {
	padding-right: 10px;
}
.pr20 {
	padding-right: 20px;
}
.pr30 {
	padding-right: 10px;
}

.mt10 {
	margin-top: 10px;
}
.mt20 {
	margin-top: 20px;
}
.mt30 {
	margin-top: 30px;
}
.mb10 {
	margin-bottom: 10px;
}
.mb20 {
	margin-bottom: 20px;
}
.mb30 {
	margin-bottom: 30px;
}
.mb50 {
	margin-bottom: 50px;
}
.ml10 {
	margin-left: 10px;
}
.ml20 {
	margin-left: 20px;
}
.ml30 {
	margin-left: 30px;
}
.mr10 {
	margin-right: 10px;
}
.mr20 {
	margin-right: 20px;
}
.mr30 {
	margin-right: 30px;
}

.border-radius {
	border-radius: 50%;
}

.gap {
	gap: 10px;
}

.backRed {
	background-color: red;
}

.backGreen {
	background-color: green;
}

.container-article {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.article-div {
	width: 68%;
	padding: 10px 100px;
}

.user-div {
	width: 32%;
	min-height: 100vh;
	padding: 30px;
	padding-left: 60px;
	border-left: 1px solid wheat;
	position: sticky;
	top: 10px;
}

.author-left {
	width: 100%;
	height: 60px;
	margin-top: 30px;
	display: flex;
	align-items: center;
}

.author-left img {
	border-radius: 50%;
	margin-left: 10px;
}

.article-img img {
	object-fit: cover;
	width: 100%;
	height: 400px;
	transition: all 0.2s;
}

.article-img img:hover {
	transform: scale(0.98);
	border-radius: 10px;
}

.article-itself {
	width: 100%;
	padding-right: 10px;
}

.infos-author {
	font-size: 14px;
	border-bottom: 1px solid gray;
}

.infos-author span {
	font-size: 14px;
	padding-bottom: 2px;
}

.article-itself > h3 {
	padding-top: 50px;
	font-size: 23px;
	color: rgb(47, 45, 45);
}

.article-section {
	padding: 10px 0px 70px 0px;
}
.article-section h2 {
	padding: 0;
	margin-bottom: 20px;
}

.article-section p {
	margin-bottom: 40px;
	line-height: 35px;
	font-size: 18px;
}
.user-right-img img {
	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: 50%;
	margin-bottom: 10px;
}

.form-add {
	width: 60%;
	margin: 100px auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px;
}

.form-add input,
textarea {
	background-color: white;
	width: 100%;
	margin-bottom: 20px;
	font-size: 30px;
	outline: none !important;
}

.buttonsend {
	background-color: rgb(151, 166, 161);
	padding: 20px 50px;
}

.comments {
	background-color: rgb(227, 247, 253);
	padding: 20px;
	width: 100%;
	margin-bottom: 100px;
}

.each-comment {
	border-top: 1px solid gray;
	padding-top: 15px;
}

.comment-img img {
	object-fit: cover;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.comment-img span {
	font-size: 10px;
	margin-left: 0;
}

.add-comment {
}
.add-comment textarea {
	border: 0;
	outline: 0;
	font-size: 18px;
	padding: 20px;
	background-color: white;
}

.add-comment textarea:focus {
	outline: none !important;
}

.form-comment {
	position: relative;
}
.send-comment {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.other-post {
	cursor: pointer;
	padding: 10px;
	border-radius: 5px;
	transition: all 0.2s;
}

.other-post:hover {
	box-shadow: 3px 3px 0.4em black;
}
.each-article {
	background-color: re;
}
.profile-banner {
	padding-top: 30px;
}
.profile-banner img {
	width: 100%;
	height: 200px;
	object-fit: cover;
}
.profile-banner h2 {
	padding-top: 50px;
	font-size: 46px;
}
.profile-banner p {
	border-bottom: 1px solid rgb(215, 210, 210);
	margin-bottom: 70px;
}

.article-box {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	border-bottom: 1px solid rgb(212, 207, 207);
}

.article-box img {
	width: 380px;
	height: 180px;
	object-fit: cover;
	padding: 30px;
	margin-left: 20px;
}

.flex-articles {
	display: grid;
	grid-template-columns: 200px 200px 200px;
}
