/* ------------------------------------------------------------------------------------------
                                  The div with my informations
   ------------------------------------------------------------------------------------------*/

   .mesInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 600px;
    /* border: solid; */
    padding: 4% 8%;
    margin: 2% 0px;
}

.photos{
    display: flex;
    align-items: center;
    background-position: right;
    background-image: url(/images/bureau.jpeg);
    background-repeat: no-repeat;
    background-size: 70%;
    width: 60%;
    height: 100%;
    /* border: solid; */

}

.MyPicture {
    margin-left: 4vw;
    width: 40%;
    height: auto;
    float: left;
}

.mesInfo .ecrit{
    font-size: clamp(10px, 4vw, 20px);
    width:40% ;
    padding: 3% 1% 0% 3%;
    /* border: solid; */
}

.ecrit h4{
    position: relative;

}


.ecrit h4::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 4px;
    background-color: #03a9f4;
    transform: scaleX(40%);
    transform-origin: left;
    /* rgb(255, 187, 0) */

}


.ecrit div{
    justify-content: center;
    text-align: center;
    background-color: #03a9f4;
    color: white;
    width: 30%;
    height: auto;
    padding: 7px 1px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5%;

}


.ecrit div:hover{
    background-color: #03a8f4b2;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.094), 0 6px 20px 0 rgba(0, 0, 0, 0.112);

}


/* ------------------------------------------------------------------------------------------
                                    my team's info
   ------------------------------------------------------------------------------------------*/
.mon-equipe{
    /* border: solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: azure;
    flex-direction: column;
    padding-top: 2%;

    }

.row-equipe{
    /* border: solid; */
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction:row;
    margin: 3% 0px 5% 0px;
    width: 85%;
    height: 95%;

    }

.col-equipes{
    background-color: rgba(12, 11, 76, 0.067);;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 25%;
    gap: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.572), 0 6px 20px 0 rgba(0, 0, 0, 0.613);
    /* border: solid; */

   }


.image-equipe{
    display: flex;
    /* border: solid; */
    padding: 1% 1%;
    height: 80%;
    position: relative;

   }

.image-equipe::after{
    content: '';
    text-align: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.598);
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 450ms ease-in;

}

.image-equipe:hover::after{
    transform: scale(1);
    transform-origin: bottom;
}


.image-equipe img{
    justify-content: flex-start;
    width: 100%;
    height: auto;
   }

.info-equique{
    text-align: center;
    padding: 1% 1% 1% 1%;
    width: 100%;
    height: 30%;
    color: black;
    /* border: solid ; */
   }

