footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2% 0;
    width: 100vw;
    height: 20vh;
    background-color: rgb(12, 11, 76);
    color: rgba(255, 255, 255, 0.919);

}


.contact{
    display: flex;
    align-items:center;
    justify-content: center;
    margin-top: 2%;
    width: 25%;
    height: auto;
}

.contact div{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: solid; */
    background-color: white;
    margin: 0  6%;
    border-radius:20%;
    /* box-shadow: 0 2px 4px 0 black, 0 3px 10px 0 rgba(0, 0, 0, 0.434); */
    width: 14%;
    height: 100%;

}

.contact div:hover{
    /* background-color: rgb(202, 235, 235);
    box-shadow: 0 2px 4px 0  white, 0 3px 10px 0 white; */
    animation: zoom 2s infinite;
    cursor: pointer;

}


.contact div Link{
    width: 70%;
    height: auto;
    padding: 2% 0;

}

@keyframes zoom {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.5, 1.5);
    }
    100% {
      transform: scale(1, 1);
    }
  }
