.container{
    width: 100%;
    height: 60%;
    background-image: url(/images/campus.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode:darken;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px ;
}

.logo{
    width: 10%;
    height: auto;
    margin-top: 3%;
}

.logo img{
    width: 100%;
    height: auto;
    padding: 0px 0px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    width: 100%;
    height: 7%;
    margin-top: 3%;
    padding-top: .5%;
    padding-bottom: .5%;
    /* box-shadow: inset 0px -1px 0px #03a9f4; */

}

.humberger{
    display: none;
}

.navLinks a{
    margin: 0 5vw;
    text-decoration: none;
    color: black;
    font-family:'Times New Roman', Times, serif;
    font-size: x-large;
    position: relative;


}

.navLinks a::after{
    content: " ";
    position: absolute;
    left: 0;
    bottom: -2px;
    width:100%;
    height: 4px;
    background-color: #03a9f4;
    transform: scaleX(0%);
    transition: transform 200ms ease-in;
    transform-origin:center;

}

.navLinks a:hover::after{
    transform: scaleX(95%);
    transform-origin: center;

}


.navbar-toggler{
    border: solid;

}


.name{
    display: flex;
    font-size: clamp(30px, 6vw, 70px);
    line-height: 1.14;
    letter-spacing: 1px;
    word-spacing: 3px;
    font-family:'Times New Roman', Times, serif;
    color:white;
    margin-top: 3%;
}


.dev-you-need{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(10px, 4vw, 30px);
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    color:yellow;
    /* animation-duration: 3s bounce 1; */



    /* .navbar-toggler-icon:hover{
    filter: opacity(50%);
    -webkit-filter: opacity(50%);

} */


}



/* ------------------------------------------------------------------------------------------
                                  The div with my informations 
   ------------------------------------------------------------------------------------------*/

.mesInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 600px;
    /* border: solid; */
    padding: 4% 8%;
    margin: 2% 0px;
    
}


.photos{  
    display: flex;
    align-items: center;
    background-position: right;
    background-image: url(/images/bureau.jpeg);
    background-repeat: no-repeat;
    background-size: 70%;
    width: 60%;
    height: 100%;
    /* border: solid; */
}


.MyPicture {
    margin-left: 4vw;
    width: 40%;
    height: auto;
    float: left;
}


.mesInfo .ecrit{
    font-size: clamp(10px, 4vw, 20px);
    width:40% ;
    padding: 3% 1% 0% 3%;
    /* border: solid; */
}


.ecrit h4{
    position: relative;

}


.ecrit h4::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 4px;
    background-color: #03a9f4;
    transform: scaleX(40%);
    transform-origin: left;
    /* rgb(255, 187, 0) */

}

.ecrit div{
    justify-content: center;
    text-align: center;
    background-color: #03a9f4;
    color: white;
    width: 30%;
    height: auto;
    padding: 7px 1px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5%;

}


.ecrit div:hover{
    background-color: #03a8f4b2;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.094), 0 6px 20px 0 rgba(0, 0, 0, 0.112);

}