@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{

  h1, h2, h3, h4, h5, h6{
    @apply font-bold
  }

  h1{
    @apply text-4xl sm:text-5xl md:text-6xl
  }
  h2 {
    @apply text-3xl font-bold  mb-10;
  }

  li{
    @apply cursor-pointer
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
  }
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: #fff;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
}



